{{ header }}
<div id="common-home">    
	{% if column_left and column_right %}
	{% set class = 'col-sm-6' %}
	{% elseif column_left or column_right %}
	{% set class = 'col-sm-9' %}
	{% else %}
	{% set class = 'col-sm-12' %}
	{% endif %}    
	<div id="content">   
		<div class="container">        
			<div class="row">
				{{ content_top }}
			</div>
		</div> 
	</div>
	<div id="wrapper"> 
		<div class="container">        
			<div class="row">	
				<div id="top_left">		
					{{ column_left }}
				</div>
				<div id="top_home" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
					{{ content_middle }}
				</div>
				<div id="top_right">
					{{ column_right }}
				</div>
				{{ content_bottom }}
			</div>
		</div> 
	</div> 
</div>
{{ footer }}   